@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


p {
    font-weight: 400 !important;
    font-size: 15px !important;
    color: #000 !important;
}

@keyframes modal-video {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal-video-inner {
    from {
        transform: translate(0, 100px);
    }

    to {
        transform: translate(0, 0);
    }
}

body {
    font-size: 1.01rem;
    line-height: 1.75rem;
}

.section-head p {
    font-size: 1.05rem;
}

.icon-content p {
    color: #000 !important
}

/* .icon-content h3 {
    color: #002864 !important
} */

.white-btn {
    background-color: white;
    color: #002864 !important;
    font-weight: 600;
}

.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.modal-video-effect-exit {
    opacity: 0;
}

.modal-video-effect-exit .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
}

.modal-video-body {
    max-width: 940px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
}

.modal-video-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.modal-video-movie-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #333;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video-inner;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: -35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
}

.modal-video-close-btn:before {
    transform: rotate(45deg);
}

.modal-video-close-btn:after {
    transform: rotate(-45deg);
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px;
}

.main-bar-wraper .custom-logo {
    display: none;
}

.main-bar-wraper.is-fixed .custom-logo {
    display: block;
}

.main-bar-wraper.is-fixed .custom-logo-white {
    display: none;
}

.icon-bx-wraper.style-5:hover .icon-bx,
.icon-bx-wraper.style-5.active .icon-bx {
    background-image: url(.././public/images/pattern/pattern10.png), var(--gradient) !important;
}

.icon-bx-wraper.style-5:hover .btn,
.icon-bx-wraper.style-5.active .btn {
    background-image: var(--gradient);
}

.list-style ul {
    list-style: none;
    margin-left: 30px;
}

.list-style ul li:before {
    content: "";
    border-color: transparent #1f2471;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.05em;
    position: relative;
}

.heading-style h2,
.heading-style h3 {
    margin: 15px 0;
}

.heading-style a {
    color: #00A5CD;
}

a {
    color: #00A5CD;
}

.img-style img {
    margin: 20px auto;
    display: block;
}

.content-inner {
    padding-top: 20px;
    padding-bottom: 50px;
}

.Feature-clients {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-head {
    margin-bottom: 20px !important;
}

.blog-img-style {
    height: 250px !important;
    object-fit: cover !important;
    width: 100% !important;
}

@media(min-width:768px) {
    .section-head {
        margin-bottom: 10px !important;
    }

    .content-inner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .Feature-clients {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .slick-next,
    .slick-next:hover,
    .slick-next:active,
    .slick-next:focus {
        right: -50px !important;
    }

    .slick-prev,
    .slick-prev:hover,
    .slick-prev:active,
    .slick-prev:focus {
        left: -50px !important;
    }
}

@media(max-width:768px) {

    .slick-next,
    .slick-next:hover,
    .slick-next:active,
    .slick-next:focus {
        right: 10px !important;
        z-index: 5
    }

    .slick-prev,
    .slick-prev:hover,
    .slick-prev:active,
    .slick-prev:focus {
        left: 10px !important;
        z-index: 5
    }
}

.slick-next,
.slick-next:hover,
.slick-next:active,
.slick-next:focus {
    /* background-image:linear-gradient(to right, #002864 0, #00A5CD 51%, #002864 100%); */
    width: 35px;
    border-radius: 50%;
    height: 35px;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:active,
.slick-prev:focus {
    /* background-image:linear-gradient(to right, #002864 0, #00A5CD 51%, #002864 100%); */
    width: 35px;
    border-radius: 50%;
    height: 35px;
}

.slick-prev:before,
.slick-next:before {
    color: #002864 !important;
    font-size: 2rem;
}

.blog-desc-style {
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: initial;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 115px;
    color: #000;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    
}

h1,
.banner-three .banner-content h1 {
    font-size: 2.85rem;
}

/* .banner-three{
    padding-bottom: 100px;
} */
@media(max-width:650px) {

    h1,
    .banner-three .banner-content h1,
    .dlab-bnr-inr.style-1 .dlab-bnr-inr-entry h1 {
        font-size: 30px;
        line-height: 40px;
    }

    h2,
    .section-head.style-3 h2.title {
        font-size: 24px !important;
    }

    h3,
    footer .footer-title {
        font-size: 20px !important;
    }

    h4,
    h5,
    h6 {
        font-size: 18px;
    }
}


.faqMouse {
    cursor: pointer;
}

#removeP {
    padding-top: 50px !important;
}

@media (max-width: 767px) {
    #removeP {
        padding-top: 0px !important;
    }
}


/* new btn  */
.sameDesignBtn,
#navbarContactBTN {
    /* position: absolute; */
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    line-height: 23px;
    color: #FFFFFF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.58deg, #5278FF 16.72%, #BA55F8 124.19%);
    border-radius: 29.5979px;
    padding: 10px 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

/*  */
@media only screen and (max-width: 991px) {
    #anothernavbarNavDropdown {
        display: flex;
        align-items: flex-start;
        /* justify-content: center; */
        flex-direction: column;
    }

    #anothernavbarNavDropdown .newBtnContactNavbar {
        margin-top: 30px;
    }
}

.sliderOutside {
    width: 100%;
    /* background-color: ; */
    padding: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sliderOutside .icon-box {
    width: 120px;
    height: 120px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.58deg, #5278FF 16.72%, #BA55F8 124.19%) !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.sliderOutside .mainSliderBox {
    z-index: 1;
    padding: 60px 40px 0px 40px;
    border-radius: 30px;
    width: 100%;
    height: 300px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-50px);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.sliderOutside .mainSliderBox h3 {
    color: black;
    font-weight: 700;
    line-height: 2rem;
    font-family: 'Roboto', sans-serif;
}

.sliderOutside .mainSliderBox p {
    color: black;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.sliderOutside .mainSliderBox #sliderBtn {
    padding: 0px;
    display: flex;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    width: 30px !important;
    height: 30px !important;
    align-items: center;
    justify-content: center;
}

.sliderOutside .mainSliderBox #sliderBtn:hover,
.icon-bx-wraper.style-1:hover #sliderBtn {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.58deg, #5278FF 16.72%, #BA55F8 124.19%) !important;
}


#counterOuter {
    width: 100%;
    height: auto;
    padding: 45px 0px 20px 0px;
    margin-top: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.58deg, #5278FF 16.72%, #BA55F8 124.19%) !important;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#counterOuter_inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* footr  */
.social_links {
    display: flex;
    align-items: center;
    justify-self: center;
}

.social_links a:first-child {
    margin-left: 0px;
}

.social_links a {
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 10px;
}

.social_links a:hover {
    color: aliceblue;
}

#btn_pages li {
    margin: 0 10px;
}

/* services page children page components */
#features_services {
    padding-top: 50px;
}

@media (max-width: 767px) {
    #features_services {
        padding-top: 30px !important;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    #features_services {
        padding-top: 420px !important;
    }
}













/* location */
.loc_addr i,
.loc_email i,
.loc_Phone i {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.58deg, #5278FF 16.72%, #BA55F8 124.19%);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;
}

.loc_addr p,
.loc_email p,
.loc_Phone p {
    color: black;
    font-weight: 400;
    text-align: justify;
}

.loc_email a,
.loc_Phone a {
    color: black;
}

@media (max-width: 300px) {
    .loc_addr p {
        width: 210px !important;
    }
}
@media (min-width: 300px) and (max-width: 320px) {
    .loc_addr p {
        width: 230px !important;
    }
}
@media (min-width: 320px) and (max-width: 350px) {
    .loc_addr p {
        width: 250px !important;
    }
}
@media (min-width: 350px) and (max-width: 370px) {
    .loc_addr p {
        width: 280px !important;
    }
}



@media (max-width: 767px ) {
    .loc_email, .loc_Phone {
        width: 350px !important;
        margin-top: 1rem;
    }
    .loc_email {
        display: flex;
        align-items: flex-start !important;
        justify-content: start !important;
    }
}

.page-wraper .page-content {
    overflow: hidden;
}


.Feature-clients .p100 {
    padding-top: 50px !important;
}

.dlab-accordion .card-body ul {
    padding-left: 50px;
}
.dlab-accordion .card-body ul li {
    /* list-style-type: circle; */
    margin-top: 10px;
    font-weight: 400;
    color: #000;
    font-size: 15px;
    list-style-type: disc;
    font-family: 'Roboto', sans-serif;
}




#blog_pages ul {
    padding-left: 50px;
}
#blog_pages ul li {
    list-style-type: disc;
}